body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.masonryContainer {
  column-count: 3;
  column-gap: 20px;
  /* row-gap: 20px; */
  /* row-gap은 필요없는 속성이 되어벌임.. masonryItem에서의 margin-bottom을 설정하였기 때문 */
  padding: 20px;
}
.masonryItem {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  /* img 태그가 masonryItem 경계를 벗어날 경우 이를 hidden처리 */
}
.masonryItem img {
  width: 100%;
  /* img 태그의 이미지를 masonryItem의 width를 기준으로 크기 조정 */
  display: block;
  /* img 태그는 inline-block이기 때문에, 줄바꿈간격 등으로 인한 의도치 않은 여백을 없앰 */
}
