@import url(./reset.css);

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-small: 14px;
  --font-normal: 16px;
  --font-x-large: 48px;
  --font-xx-large: 64px;

  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-text-disabled: #d1d5db;

  --color-box-primary: #bababa;
  --color-box-secondary: #ffffff;
  --color-box-tertiary: #374151;
}
