@import url(./globalStyle.css);

body * {
  font-family: pretendard;
  font-size: var(--font-small);
  line-height: 120%;
}

/* --------------------레이아웃 & box syling 관련-------------------- */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-box-primary);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 120px;
}

.card__about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .card__image { 외안됨? 흑흑 귀차나
  width: 245px;
  height: 245px;
  border-radius: 122.5px;
} */

img {
  width: 245px;
  height: 245px;
  border-radius: 122.5px;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__info-contact {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card__form > div {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/* --------------------상세 스타일 관련-------------------- */

.card__title {
  font-size: var(--font-xx-large);
  font-weight: 600;
}

.card__info-title {
  font-size: var(--font-x-large);
  font-weight: 600;
}

.card__info-content {
  color: var(--color-text-secondary);
}

.card__form-label {
  font-size: var(--font-normal);
  font-weight: 600;
}

.card__form-input {
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: var(--font-normal);
}

.textarea {
  resize: none;
}

.card__form-input::placeholder {
  color: var(--color-text-disabled);
}

.card__form-submitBtn {
  width: 320px;
  height: 35px;
  background-color: var(--color-box-tertiary);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 6px;
  font-size: var(--font-normal);
  font-weight: 400;
}

a {
  text-decoration: underline var(--color-text-secondary);
  color: var(--color-text-secondary);
}
