body {
  height: 100vh;
  display: flex;
}

.kiosk {
  /* width: 500px; */
  display: flex;
  flex-direction: column;
}

.kiosk > div {
  display: flex;
  flex-direction: row;
}

.catetory {
  display: flex;
  flex-direction: column;
}

nav > button {
  display: block;
}

nav {
  width: 300px;
}
